@using eStoreClient.Models.Auth;

@model IEnumerable<MemberDTO>
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Members List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Id
					</th>
					<th>
						Email
					</th>
					<th>
						Company Name
					</th>
					<th>
						City
					</th>
					<th>
						Country
					</th>
					<th>
						Role
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="member-table-body">
			</tbody>
		</table>

	</div>

</div>
<script type="text/javascript">
	$(document).ready(function () {
		var token = GetToken('JWTToken');
		
		$.ajax({
			url: 'http://localhost:5212/api/members', // Replace this with the actual route that returns JSON data
			type: 'GET',
			dataType: 'json',
			success: function (data) {
				console.log(data);
				console.log(token);
				var tableBody = $('#member-table-body');
				tableBody.empty(); // Clear existing table row
				$.each(data.result, function (index, item) {
					console.log(item);
					var row = $('<tr></tr>');
					row.append('<td>' + item.id + '</td>');
					row.append('<td>' + item.email + '</td>');
					row.append('<td>' + item.companyName + '</td>');
					row.append('<td>' + item.city + '</td>');
					row.append('<td>' + item.country + '</td>');
					row.append('<td>' + item.roleName + '</td>');
					row.append('<td>' +
						'<a class="btn btn-success" href="/Member/Details?id=' + item.id + '">Details</a>' +
						'<a class="btn btn-danger" href="/Member/Delete?id=' + item.id + '"><i class="bi bi-trash"></i></a>' +
						'</td>');

					tableBody.append(row);
				});
			},
			error: function (error) {
				console.log('Error: ' + error.responseText);
			}
		});
		function GetToken(name) {
			var value = "; " + document.cookie;
			var parts = value.split("; " + name + "=");
			if (parts.length == 2) return parts.pop().split(";").shift();
		}
	});</script>